<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgdgQbSEBbeanahK9UiBX9p1NogQFN7-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>298352581096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authScreensFlutterFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-screens-f835b</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-screens-f835b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298352581096:ios:1edf2771b40f202b4d6c5d</string>
</dict>
</plist>